<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Kamusi Here!</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/kamusi.css" rel="stylesheet">

    <link href="lib/ng-walkthrough/css/ng-walkthrough.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="js/jquery.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- used for extracting strings and tranlating them -->
    <script src="js/angular-gettext.min.js"></script>

    <!-- the translation file -->
    <script src="translations/translations.js"></script>

    <!-- used for the help display and onboarding -->
    <script type="text/javascript" src="lib/ng-walkthrough/ng-walkthrough.js"></script>

    <!-- your app's js -->
    <script src="js/kamusi.js"></script>
  </head>

<body ng-app="main" ng-controller="displayCtrl" class="platform-android">

  <div class="header">
    <img src="res/left_arrow.svg" class="leftArrow">
    <div class="title">Kamusi Here!</div>
    <img src="res/search_button.png" class="searchButton" ng-click="showSearchField = !showSearchField">
  </div>

  <div id="form">

    <div id="uiLanguageSelector">
      <img id="help_button" src="res/ic_help_outline.svg" class="helpButton" alt="{{'Help'|translate}}" ng-click="displayWalkthrough(0)">
      <select id="language_selector" class="uiLanguage" title="{{'UI language'|translate}}"
        ng-options="translation.code as translation.name for translation in translations"
        ng-model="selected_translation" ng-change="switchLanguage()">
        <option value="" disabled="" translate>I speak</option>
      </select>
    </div>

    <div id="logo">
      <img src="res/kamusi_gold_logo.png" alt="Kamusi logo">
    </div>

    <div>
      <form ng-submit="run()">
        <input class="form-control inputWord" type="text" ng-model="input_word" placeholder="{{'Enter your word here'|translate}}">
      </form>
    </div>

    <div>
      <select class="form-control" id="source_language" name="source_language"
        title="{{'Source Language'|translate}}" ng-model="source_language" style="height:45px">
        <option value="" disabled="" translate>Language you want to translate from</option>
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <button title="{{'Swap Languages'|translate}}" id="swap" class="swapWrapper" ng-click="swapLanguages()">
      <img src="res/swap.png" alt="{{'Swap Languages'|translate}}" class="swap">
    </button>

    <div class="">
      <select class="form-control" id="target_language" name="target_language"
        title="{{'Target Language'|translate}}" ng-model="target_language" style="height:45px">
        <option value="" disabled="" translate>Language you want to translate to</option>
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <button class="btn submitButton" ng-click="run()" translate>Go !</button>

    <walkthrough
      wid="welcome"
      walkthrough-type="transparency"
      walkthrough-hero-image="res/kamusi_logo_512x512.png"
      main-caption="{{'Welcome to Kamusi Here!'|translate}}"
      on-walkthrough-hide="displayWalkthrough(7)"
      is-active="walkthrough_active_6">
    </walkthrough>

    <walkthrough
      wid="language_selector_prompt"
      walkthrough-type="transparency"
      focus-element-selector="#language_selector"
      icon="arrow"
      main-caption="Please select your language here."
      force-caption-location="BOTTOM"
      icon-padding-left="20"
      is-active="walkthrough_active_7">
    </walkthrough>

    <walkthrough
      wid="language_selector_help"
      walkthrough-type="transparency"
      focus-element-selector="#language_selector"
      icon="arrow"
      main-caption="{{'You can select the language of the application here.'|translate}}"
      force-caption-location="BOTTOM"
      icon-padding-left="20"
      on-walkthrough-hide="displayWalkthrough(1)"
      is-active="walkthrough_active_0">
    </walkthrough>

    <walkthrough
      wid="swap_help"
      walkthrough-type="transparency"
      focus-element-selector="#swap"
      icon="arrow"
      main-caption="{{'You can swap source and destination languages with this button.'|translate}}"
      force-caption-location="BOTTOM"
      icon-padding-left="-30"
      icon-padding-top="30"
      on-walkthrough-hide="displayWalkthrough(2)"
      is-active="walkthrough_active_1">
    </walkthrough>

    <walkthrough
      wid="tour_page_1"
      walkthrough-type="transparency"
      walkthrough-hero-image="res/result_example_marked.png"
      main-caption="{{'On the result page, click any translation result to see a search for that term.'|translate}}"
      on-walkthrough-hide="displayWalkthrough(3)"
      is-active="walkthrough_active_2">
    </walkthrough>

    <walkthrough
      wid="tour_page_2"
      walkthrough-type="transparency"
      main-caption="{{'You will notice that we do not always have a match for a term you are looking for from our original sources. Soon, this app will be asking you to help share what you know - stay tuned!'|translate}}"
      on-walkthrough-hide="displayWalkthrough(4)"
      is-active="walkthrough_active_3">
    </walkthrough>

    <walkthrough
      wid="tour_page_3"
      walkthrough-type="transparency"
      main-caption="{{where_are_french_and_german}}"
      on-walkthrough-hide="displayWalkthrough(5)"
      is-active="walkthrough_active_4">
    </walkthrough>

    <walkthrough
      wid="help_help"
      walkthrough-type="transparency"
      focus-element-selector="#help_button"
      icon="arrow"
      main-caption="{{'If you ever need to see this information again, click on this button.'|translate}}"
      force-caption-location="BOTTOM"
      icon-padding-left="20"
      is-active="walkthrough_active_5">
    </walkthrough>

  </div>

  <div id="sample"  style="display:none">

  <div id="within" ng-show="showSearchField">

    <div>
      <form ng-submit="run()">
        <input class="new form-control inputWord" type="text" ng-model="input_word" placeholder="{{'Enter your word here'|translate}}">
      </form>
    </div>

    <div>
      <select class="form-control" name="source_language" title="{{'Source Language'|translate}}" ng-model="source_language" style="height:45px">
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <!-- <button title="Swap Languages" id="swap"><img src="swap.png" alt="Swap Languages" class="swap"></button> -->

    <div class="">
      <select class="form-control" name="target_language" title="{{'Target Language'|translate}}" ng-model="target_language" style="height:45px">
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <button class="btn submitButton"  ng-click="run()" translate>Go !</button>

  </div>

  <div class="nodata" ng-show="result.length == 0">
    <translate translate-comment="{{search_term}} is the term looked up, leave it as is in the translation">
      No data yet for {{search_term}}.
    </translate>
    <br>
    <translate translate-comment="{{translate(source_language_name)}} is the name of a language, leave it as is in the translation">
      Registered speakers of {{translate(source_language_name)}} please suggest a term.
    </translate>
  </div>

  <div class="outerDiv" ng-repeat="ob in result" >

    <div class="inner1">
      <div>{{translate(ob.source_concept.language)}} ({{pos(ob.source_concept.synset_ID_3_0, ob.source_concept.synset_ID_3_1)}}): <b>{{parse(search_term)}}</b></div>
      <div ng-hide="defn(ob.source_concept.gloss, ob.source_concept.definition).length == 0">
        <translate>Definition:</translate> {{defn(ob.source_concept.gloss, ob.source_concept.definition)}}
      </div>
      <div ng-hide="ob.source_concept.example_sents.length == 0 || ob.source_concept.example_sents == undefined">
        <translate>Example:</translate> {{ob.source_concept.example_sents[0]}}
      </div>
    </div>

    <div class= "innernull" ng-show="ob.target_terms.length == 0">
      <translate>No matches yet.</translate>
      <div style="font-style:italic">
        <span style="color:#FFD700" translate>Upcoming feature:</span>
        <translate translate-comment="{{translate(target_language_name)}} is the name of a language, leave it as is in the translation">
          Registered speakers of {{translate(target_language_name)}} please suggest a term.
        </translate>
      </div>
    </div>

    <div class="inner2" ng-hide="ob.target_terms.length == 0">
      <div>{{translate(ob.target_concept.language)}} ({{ob.target_terms[0].pos}}):
        <span ng-repeat="term in ob.target_terms">
          <button class="termButton" ng-click='targetTermOnClick(term.lemma, term.language, ob.source_concept.language)'>
            {{parse(term.lemma)}}
          </button>
        </span>
      </div>
      <div ng-hide="defn(ob.target_concept.gloss,ob.target_concept.definition).length == 0">
        <translate>Definition:</translate> {{defn(ob.target_concept.gloss,ob.target_concept.definition)}}
      </div>
      <div ng-show="defn(ob.target_concept.gloss,ob.target_concept.definition).length == 0">
        <span style="color:#627149">
          <translate translate-comment="{{translate(ob.target_concept.language)}} is the name of a language, <b>{{parse(search_term)}}</b> is the term looked up, leave them as is in the translation">
            No definition yet in {{translate(ob.target_concept.language)}} for this meaning of <b>{{parse(search_term)}}</b>.
          </translate>
        </span>
        <div style="font-style:italic">
          <span style="color:#D69A33" translate>Upcoming feature: </span>
          <translate translate-comment="{{translate(ob.target_concept.language)}} is the name of a language, leave it as is in the translation">
            Registered speakers of {{translate(ob.target_concept.language)}} please suggest a definition.
          </translate>
        </div>
      </div>
      <div ng-hide="ob.target_concept.example_sents == undefined || ob.target_concept.example_sents.length == 0">
        <translate>Example:</translate> {{ob.target_concept.example_sents[0]}}
      </div>
    </div>

    <div class="inner3" ng-hide="ob.source_concept.language == 'English' || ob.target_concept.language == 'English'">
      <div>{{translate(ob.english_concept.language)}} ({{ob.target_terms[0].pos}}):
        <span ng-repeat="term in ob.eng_terms">
          <button class="engTermButton" ng-click='targetTermOnClick(term.lemma, term.language, ob.source_concept.language)'>
            {{parse(term.lemma)}}
          </button>
        </span>
      </div>
      <div ng-hide="defn(ob.english_concept.gloss, ob.english_concept.definition).length == 0">
        <translate>Definition:</translate> {{defn(ob.english_concept.gloss, ob.english_concept.definition)}}
      </div>
      <div ng-hide="ob.english_concept.example_sents == undefined || ob.english_concept.example_sents.length == 0 ">
        <translate>Example:</translate> {{ob.english_concept.example_sents[0]}}
      </div>
    </div>

  </div>

  <div id="wrapper" ng-show="result.length != 0">
    <span class="sources" translate>Sources</span>
    <div class="sourcesLinks" ng-repeat="lang in src_langs">
      <a ng-href="#" style="color:#55676C" ng-click="openUrl(lang.link)">{{translate(lang.name)}}</a>
    </div>
  </div>

  </div>

</body>

</html>
