<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Kamusi Gold</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/kamusi.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="js/jquery.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- used for extracting strings and tranlating them -->
    <script src="js/angular-gettext.min.js"></script>

    <!-- the translation file -->
    <script src="translations/translations.js"></script>

    <!-- your app's js -->
    <script src="js/kamusi.js"></script>
  </head>

<body ng-app="main" ng-controller="displayCtrl" class="platform-android">

  <div class="header">
    <img src="res/left.svg" class="leftArrow">
    <div class="title" translate>Kamusi Gold</div>
    <img src="res/searchButton.png" class="searchButton" ng-click="showSearchField = !showSearchField">
  </div>

  <div id="form">

    <div id="logo">
      <img src="res/kamusi.png" alt="Kamusi logo">
    </div>

    <div>
      <input class="form-control inputWord" type="text" ng-model="input_word" placeholder="{{'Enter your word here'|translate}}">
    </div>

    <div>
      <select class="form-control" id="source_language" name="source_language"
        title="{{'Source Language'|translate}}" ng-model="source_language" style="height:45px">
        <option value="" disabled="" translate>Language you want to translate from</option>
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <button title="{{'Swap Languages'|translate}}" id="swap" class="swapWrapper">
      <img src="res/swap.png" alt="{{'Swap Languages'|translate}}" class="swap">
    </button>

    <div class="">
      <select class="form-control" id="target_language" name="target_language"
        title="{{'Target Language'|translate}}" ng-model="target_language" style="height:45px">
        <option value="" disabled="" translate>Language you want to translate to</option>
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <button class="btn submitButton" ng-click="run()" translate>Go !</button>

    <select class="switchLanguage" title="{{'UI language'|translate}}"
      ng-options="translation.code as translate(translation.name) for translation in translations"
      ng-model="selected_translation" ng-change="switchLanguage()">
    </select>

  </div>

  <div id="sample"  style="display:none">

  <div id="within" ng-show="showSearchField">

    <div>
      <input class="new form-control inputWord" type="text" ng-model="input_word"
        placeholder="{{'Enter your word here'|translate}}">
    </div>

    <div>
      <select class="form-control" name="source_language" title="{{'Source Language'|translate}}" ng-model="source_language" style="height:45px">
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <!-- <button title="Swap Languages" id="swap"><img src="swap.png" alt="Swap Languages" class="swap"></button> -->

    <div class="">
      <select class="form-control" name="target_language" title="{{'Target Language'|translate}}" ng-model="target_language" style="height:45px">
        <option ng-repeat="language in language_list" value="{{language.code}}">{{translate(language.name)}}</option>
      </select>
    </div>

    <button class="btn submitButton"  ng-click="run()" translate>Go !</button>

  </div>

  <div class="nodata" ng-show="result.length == 0">
    <translate>No data yet for</translate> {{search_term}}.
    <br>
    <translate>Registered speakers of {{translate(target_language_name)}} please suggest a term.</translate>
  </div>

  <div class="outerDiv" ng-repeat="ob in result" >

    <div class="inner1">
      <div>{{translate(ob.source_concept.language)}}: <b>{{search_term}}</b> ({{pos(ob.source_concept.synset_ID_3_0, ob.source_concept.synset_ID_3_1)}})</div>
      <div ng-hide="defn(ob.source_concept.gloss, ob.source_concept.definition).length == 0">
        <translate>Definition:</translate> {{defn(ob.source_concept.gloss, ob.source_concept.definition)}}
      </div>
      <div ng-hide="ob.source_concept.example_sents.length == 0 || ob.source_concept.example_sents == undefined">
        <translate>Example:</translate> {{ob.source_concept.example_sents[0]}}
      </div>
    </div>

    <div class= "innernull" ng-show="ob.target_terms.length == 0">
      <translate>No matches yet.</translate>
      <div style="font-style:italic">
        <span style="color:#FFD700" translate>Upcoming feature: </span><translate>Registered speakers of {{translate(target_language_name)}} please suggest a term.</translate>
      </div>
    </div>

    <div class="inner2" ng-hide="ob.target_terms.length == 0">
      <div>{{translate(ob.target_concept.language)}}:
        <span ng-repeat="term in ob.target_terms">
          <button class="termButton" ng-click='targetTermOnClick(term.lemma, term.language, ob.source_concept.language)'>
            {{term.lemma}} ({{term.pos}})
          </button>
        </span>
      </div>
      <div ng-hide="defn(ob.target_concept.gloss,ob.target_concept.definition).length == 0">
        <translate>Definition:</translate> {{defn(ob.target_concept.gloss,ob.target_concept.definition)}}
      </div>
      <div ng-show="defn(ob.target_concept.gloss,ob.target_concept.definition).length == 0">
        <span style="color:#627149"><translate>No definition yet in {{translate(ob.target_concept.language)}} for this meaning of</translate> <b>{{search_term}}</b>.</span>
        <div style="font-style:italic">
          <span style="color:#D69A33" translate>Upcoming feature: </span><translate>Registered speakers of {{translate(ob.target_concept.language)}} please suggest a definition.</translate>
        </div>
      </div>
      <div ng-hide="ob.target_concept.example_sents == undefined || ob.target_concept.example_sents.length == 0">
        <translate>Example:</translate> {{ob.target_concept.example_sents[0]}}
      </div>
    </div>

    <div class="inner3" ng-hide="ob.source_concept.language == 'English' || ob.target_concept.language == 'English'">
      <div>{{translate(ob.english_concept.language)}}:
        <span ng-repeat="term in ob.eng_terms">
          <button class="engTermButton" ng-click='targetTermOnClick(term.lemma, term.language, ob.source_concept.language)'>
            {{term.lemma}} ({{term.pos}})
          </button>
        </span>
      </div>
      <div ng-hide="defn(ob.english_concept.gloss, ob.english_concept.definition).length == 0">
        <translate>Definition:</translate> {{defn(ob.english_concept.gloss, ob.english_concept.definition)}}
      </div>
      <div ng-hide="ob.english_concept.example_sents == undefined || ob.english_concept.example_sents.length == 0 ">
        <translate>Example:</translate> {{ob.english_concept.example_sents[0]}}
      </div>
    </div>

  </div>

  <div id="wrapper" ng-show="result.length != 0" style="text-align:left;margin-left:15px">
    <span class="sources" translate>Sources</span>
    <div class="sourcesLinks" ng-repeat="lang in src_langs">
      <a ng-href="#" style="color:#55676C" ng-click="openUrl(lang.link)">{{translate(lang.name)}}</a>
    </div>
  </div>

  </div>

</body>

</html>
