body {
  background-color: #e1c69d;
  font-family: 'Roboto', sans-serif;
  background-image: url("kikoi.jpg");
}

.header {
  background-color: #684235;
  /*height: 7%;*/
  width: 100%;
  position: fixed;
  text-align: center;
  /*justify-content: center;*/
}

.leftArrow {
  width: 30px;
  margin-top: 3px;
  margin-bottom: 1px;
  float: left;
  margin-left: 9px;
  visibility: hidden;
}

.searchButton {
  width: 30px;
  margin-top: 3px;
  margin-bottom: 1px;
  float: right;
  margin-right: 9px;
  visibility: hidden;
}

.title  {
  /*text-align: center;*/
  display: inline-block;
  margin-top: 8px;
  font-size: large;
  font-weight: bold;
  color: white;
  align-content: center;
}

#form {
  margin-top:80px;
  margin-bottom:50px;
  margin: 4%;
  text-align: center;
}

#within {
  display: none;
  margin-top:10px;
  margin-bottom:5px;
  margin: 4%;
  text-align: center;
}

#logo {
  display: inline-block;
  margin: 85px 0 22px 0;
  cursor: pointer;
  border: none;
  align-self: center;
}

.swap {
  display: inline-block;
  width: 55px; /*edited 45px*/
  height: 45px;
  align-content: center;
  margin: 10px 0px;
  cursor: pointer;
  border: none;
}

.input_word {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 22px;
  /*padding: 22px;*/
  background-color : #FCE8C4 !important;
  border-radius: 8px;
  font-weight: bold;
}

.submit_btn {
  align-content: center;
  width: 58%;
  margin-top: 15px;
  width: 100%;
  background-color: #684235;
  color: white !important;
  height: 41px;
  font-size: large;
}

#sample {
  height: 4%;
  margin-top: 13%;
}

.outerDiv {
  border: 2px solid #AB3939;
  border-radius: 7px;
  background-color: #AB3939;
  margin: 5px 15px 16px 15px;
  padding: 2px;
}

.inner1 {
  border: 2px solid #AB3939;
  background-color: #FCE8C4;
  padding: 9px;
  border-radius: 5px;
}

.inner2 {
  border: 2px solid #AB3939;
  background-color: #FFD29D;
  border-radius: 5px;
  padding: 9px;
}

.inner3 {
  border: 2px solid #AB3939;
  background-color: #CEA899;
  border-radius: 5px;
  padding: 9px;
}

.innernull {
  border: 2px solid #AB3939;
  background-color: #D0AF57;
  border-radius: 5px;
  padding: 9px;
  color: black;
}

.nodata {
  border: 2px solid #AB3939;
  border-radius: 5px;
  background-color: #D0AF57;
  margin: 0px 15px 16px 15px;
  padding: 9px;
  color: black;
}

.sources {
  margin-bottom: 8px
}

.sources_links {
  border: 2px solid #AB3939;
  border-radius: 10px;
  background-color: #FCE8C4;
  margin-bottom: 32px;
  padding: 5px;
  display: inline-block;
}

.term_button {
  background-color: Transparent;
  border: none;
}
